.register-form {
  max-width: 500px !important;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  min-width: 300px;
}
